/* Это стили для текста на странице */
/* pacifico-regular - latin_cyrillic */
@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url('../fonts/pacifico-v13-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: local('HelveticaNeueCyr-Medium'),
        url('HelveticaNeueCyr-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: local('HelveticaNeue-Regular'),
        url('HelveticaNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: local('HelveticaNeue-Regular'),
        url('HelveticaNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('../fonts/raleway-v13-latin-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/raleway-v13-latin-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

.conteiner-banner h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    line-height: 20px;
    color: #fff;
}

.conteiner-banner p {
    font-family: 'helveticaneuecyrmedium';
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.nav-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #222222;
}

.nav-title-note {
    font-family: 'HelveticaNeue-Regular';
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}

.form-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #222222;
}

.form-title-note {
    font-family: 'HelveticaNeue-Regular';
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}

input[type="email"] {
    font-family: 'HelveticaNeue-Regular';
    font-size: 18px;
    line-height: 18px;
    color: #848484;
}

input[type="submit"] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

q {
    font-family: 'HelveticaNeue-Regular';
    font-style: italic; 
    font-size: 18px;
    line-height: 30px;
    color: #848484;
}

b {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2e2e2e;
}

.contact-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.contact-note {
    font-family: 'HelveticaNeue-Regular';
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}

.footer-nav li a {
    font-family: 'HelveticaNeue-Regular';
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}