/* Это стили для шапки страницы */
header {
    background-color: #2ecc71;
    padding-top: 10px;
}

.banner {
    background-color: #080425;
    background: url('../images/banner-header.jpg')no-repeat;
    background-size: cover;
    padding: 152px 0 172px 325px;
}

/* ************************************************************************************** */
/* styles for .conteiner-banner */
/* ************************************************************************************** */
.conteiner-banner{
    width: 470px;
}
.conteiner-banner h1{
    border: 1px solid red;
    /* width: 277px; */
    padding: 22px 0px 46px 0px;
    margin: 0 0 30px;
}

.conteiner-banner p{
    border: 1px solid red;
    /* width: 470px; */
    padding: 0px 0px 0px 6px;
    margin: 0 0 30px 0;
}

.main-nav{
    border: 1px solid red;
    /* width: 470px; */
    padding: 0px 0px 0px 0px;
    margin: 0;
}



/* элемент li и сылка а в нём- класс позиционирования */
.operation-sistems,
.operation-sistems a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.operation-sistems{
    background-color:#38251b;
    opacity: .7 ;
}

.operation-sistems:hover{
    background:#2ecc71;
    opacity: 1;
}

/* класс для фона элемента li */
.apple{
    background: url('../images/sprits/spritesheet.png')no-repeat -85px -17px;
    
}

.android{
    background: url('../images/sprits/spritesheet.png')no-repeat -12px -14px;
}

.windows{
    background: url('../images/sprits/spritesheet.png')no-repeat -158px -14px;
}

/* позиционирование иконок */

.operation-sistems:first-of-type{
    margin-left: 6px;
}
